@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6{ text-align: center;
                  color: white;
                  text-transform: uppercase;
                  font-family: "Red Hat Display", sans-serif;;
                  font-size: x-large;
                  margin: 2rem;
                  
                  
                
}
                  
                

/* Body */
.body{background-color:black;
    margin: 0 40px 40px 0; 
    position: relative;
    font-family:"Barlow Condensed", sans-serif;
    font-size: large;
    
    
    }

    /* Body */
p{text-align: center;
  color: white;
  margin: 0 30%;
  line-height: 1.5;
  

}
  
.header{
    background-color:black;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.img{width: 90px;
    margin-left: 50px;
    margin-top: 20px;
    

}
  
    
.menu ul{
    list-style: none;
    text-align: center;
    
}
.menu li {display: inline;
    cursor: pointer;             
    padding: 5px 20px 0 20px;
    

   }
    
    
         .menu{position:absolute;
        right: 60px; 
        bottom: 15px;
        margin: 0 10px;
        justify-content: center;
        display: flex;
        
        }

        .alone{color: azure;
            color: azure;
      border-radius: 50px;
      cursor: pointer;
      background-color: #1e90ff;
      margin: 4px 2px;
      padding: 10px 25px;

        }
      
      

/* Ancora */
a { 
    text-decoration: none;
    
}
/* Classe para título e parágrafo */
.escrita{color: white; text-align: center;
    margin: 0;
    padding: 0;
    }

.link{color: #ffd15c;}

/* Scrollbar  */
::-webkit-scrollbar{width: 12px;
    background-color:black
}

::-webkit-scrollbar-thumb{background-color: #1e90ff;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;}


    /* lista ordenada */
    ol{
    margin: 0 30%;
    padding: 0 5%;
    
    
}
    /* lista não ordenada */
.lista{.lista 
    display: flex:;
    justify-content: center;
}

/* div */
.container{text-align: center;}

 .Cursos{ color: white;
    text-align: justify;
    margin: 40px;
    list-style: none;
    line-height: 1.5;
    text-align: center;
    
}
    


body , html{
    scroll-behavior: smooth;

}
.zoom-anchor{transition: 3s ease;}
.zoom-anchor:hover{
    transform: scale(1.1);
}

.section{display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    align-items: center;
}


.imagens{height: 300px;
    float:left;
    margin-right: px;
    border-radius: 10px;
    margin:40px 
    
}    

    





    


