h1,h2,h3,h4,h5,h6{ text-align: center;
                  color: white;
}

.body{background-color:black;
    margin:auto; 
    position: relative;
    font-family: helvetica;
    }

p{text-align: center;
  color: white;
}



.header{
    background-color:black;
    position: sticky;
    top: 0;
}

.img{width: 100px;
    margin-left: 50px;}
  
    
.menu ul{
    list-style: none;
    text-align: center;
    
}
.menu li{display: inline;
             cursor: pointer;
            padding: 30px;
            
        }
    
    
         .menu{position:absolute;
        right: 60px; 
        bottom: 15px;
        
        }

        .alone{color: azure;
      border-radius: 50px;
      cursor: pointer;
      background-color: 	#1e90ff;
      margin: 4px 2px;
      padding: 15px 25px;
}
a{
    text-decoration: none;
}

.escrita{color: white; text-align: center;
    margin: 0;
    padding: 0;
    }

.link{color: #ed9121;}

::-webkit-scrollbar{width: 12px;
    background-color:black
}

::-webkit-scrollbar-thumb{background-color: #1e90ff;
    border-radius: 6px;
}

ol{
    margin: 0;
    padding: 0;
    
}

.lista{.lista 
     display: flex: ;;
    justify-content: center;
}

.container{text-align: center;}

.tabela{color: white;
    text-align: center;
    margin: 0 auto; 
    border-collapse: collapse;
    border: 1px solid white; 
    padding: 30px; 
}





    


